
# /
*/build
*/log
*/logs
*/bin/*
*/.classpath
*/.settings
*/.project
*/.gradle
*/**/.gradle
*/**/.gitignore
*/**/build
*/.idea
*/*.iml

.classpath
.gradle/
.project
.settings/
bin/
log/
logs/
out/
build/

.idea
*.iml
*.log.gz
*.log.gz
*/\$\{*
.gradletasknamecache
*.ipr
*.iws
/log
/logs
*DS_Store

/project-dependencies.dot
/temp.txt

*.log.jsonl

/env.sh
